*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    
}
body{
    background-color: rgb(242,242,241);

}
.big-cont{
    /* background-color: red; */
    margin: 0 75px;
}
.loggo{
    margin-top: 20px;
}
.loggo img{
    width: 150px;
}
h1{
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.mini-cont{
    width: 400px;
    height: 450px;
    max-width: fit-content;
    background-color: rgb(255,254,254);
    margin: auto;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    margin: 25px;
}
label{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    height: 30px;
    /* border-radius: 1px; */
    cursor: pointer;
    outline: none;
}
input:hover{
    border: 2px solid black;
}
.pass-show input{
    border: none;
    outline: none;
}
.pass-show{
    /* border: 1px solid rgb(64,65,65); */
    /* border-radius: 3px; */
    /* height: 32px; */
    /* width: 150px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border: 1px solid rgb(64,65,65);
    border-radius: 2px;
    width: 350px;
    /* width: 300px; */
    /* width: fit-content; */
    /* margin-left: 12px;
    border-radius: 12px; */
}
.pass-show a{
    margin-left: 150px;
    color: rgb(9,102,194);
    font-weight: 700;
    /* margin-right: 10px; */
    /* width: 100px; */


}
.first-p{
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    /* margin-right: 20px; */
    /* margin-left: 20px; */
    width: 320px;
    color: rgb(102,102,102);
}
.first-p a{
    color: rgb(9,102,194);
    font-weight: 600;
    font-size: 12px;
}
.first-p a:hover{
    text-decoration: underline;
}

button{
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(9,102,194);
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    background-color: rgb(9, 72, 135);
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(25,25,25);
    margin: 20px 25px;
  }
  
  .divider::before,
  .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(205,206,211);
  }
  
  .divider span {
    padding: 0 10px;
  }
.google-align{
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.google-align a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(60,65,66);
    padding: 10px 80px;
    border: 1px solid rgb(102,102,102);
    border-radius: 50px;
    /* width: 300px; */
    width: fit-content;
    
}
.google-align a:hover{
    border: 2px solid black;
}
.second-p{
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    width: 380px;
}
.second-p a:hover, .third-p a:hover{
    text-decoration: underline;
}
.second-p a, .third-p a{
    color: rgb(9,102,194);
}

.third-p{
    margin-top: 20px;
    text-align: center;
}
footer{
    /* overflow: hidden; */
    /* text-align: center; */
    /* margin: 20px 0; */
    margin-top: 20px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(255,254,254);
    color: rgb(102,102,102);
}
footer img{
    width: 20px;
}
footer div{
    display: flex;
    align-items: center;
    margin: 0 50px;
    margin-top: 10px;
    /* gap: 10px; */
    /* font-size: 14px; */
}
footer ul{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    margin-top: 10px;
}
footer a{
    color:rgb(102,102,102);
}
footer a:hover{
    color: rgb(9,102,194);
    text-decoration: underline;
}